@import '../variables';

.message-view{
  height:100vh;
  background-color: $dark-grey;

  padding: 20px;

  text-align:center;

  .win-pic{
    width:70%;
  }

  h1{
    color:$green;

    font-family: $helLight;
    font-weight: 100;
  }
}
