$hel: Helvetica, sans-serif;
$helLight: "HelveticaNeue-Light", sans-serif;
$helMed:"HelveticaNeue-Medium", sans-serif;
$green: #1ed760;
$dark-grey: #555555;
$light-grey: #BEBEBE;
$yellow: #f6e900;

html{
  font-family: $hel;
  margin:0;
  padding:0;
}

body {

	color: rgb(55,55,55);
	font: 100% Helvetica, sans-serif;
}

div#user{
	margin-left: 8pt;
	
	.name{
	    font-family: $helMed;
	    color: $green;
	    font-weight: 50;
	    font-size: 15pt;
	    display: inline-block;
  	}
  	.userName{
  		font-family: $helMed;
	    color: $dark-grey;
	    font-weight: 50;
	    font-size: 15pt;
	    display: inline-block;
	    margin-left: 5pt;
  	}
  	.recordLabel{
	    font-family: $helMed;
	    color: $green;
	    font-weight: 50;
	    font-size: 15pt;
	    display: inline-block;
  	}
  	.recordLabelName{
  		font-family: $helMed;
	    color: $dark-grey;
	    font-weight: 50;
	    font-size: 15pt;
	    display: inline-block;
	    margin-left: 5pt;
  	}
  	.spotemonFetched{
	    font-family: $helMed;
	    color: $green;
	    font-weight: 50;
	    font-size: 15pt;
	    display: inline-block;
  	}
  	.spotemonData{
  		font-family: $helMed;
	    color: $dark-grey;
	    font-weight: 50;
	    font-size: 15pt;
	    display: inline-block;
	    margin-left: 5pt;
  	}
  	img {
		border-radius:50%;
		width: 30vh;
		height: auto;
		margin-left: 46pt;
		position: relative;
	}

}