$hel: Helvetica, sans-serif;
$helLight: "HelveticaNeue-Light", sans-serif;
$helMed:"HelveticaNeue-Medium", sans-serif;
$green: #1ed760;
$dark-grey: #555555;
$light-grey: #BEBEBE;
$yellow: #f6e900;

html{
  font-family: $hel;
  margin:0;
  padding:0;
}
.wrapper{background-color: $dark-grey;
height: 100%;}

body {
	color: rgb(55,55,55);
	font: 100% Helvetica, sans-serif;
}

div#spotemon {

	h4, p {
		display: inline;
		text-align: left;
	
	}
	.cp-text{
		font-family: $helLight;
		letter-spacing: 1px;
		font-weight: 100;
		color: $yellow;
		font-size: 20pt;
		display: inline-block;
		vertical-align: middle;
		margin-left: 63pt;
	}
	.cp-points{
		color: $light-grey;
		font-size: 30pt;
		display: inline-block;
		text-align: center;
		vertical-align: middle;
	    margin-left: 5pt;
	}
	#results{
		position: relative;
		top: -120px;
		.name{
		    font-family: $helMed;
		    color: $green;
		    font-weight: 50;
		    font-size: 15pt;
		    display: inline-block;
		    margin-left: 25pt;

	  	}
	  	.nameId{
	  		font-family: $helMed;
		    color: $light-grey;
		    font-weight: 50;
		    font-size: 15pt;
		    display: inline-block;
		    margin-left: 5pt;
	  	}
  	}
	.image{
	    border-radius: 50%;
	    overflow:hidden;
	    width:150px;
	    height:150px;
	    margin: 8% 0;
	    margin-left: 55pt;
	    position: relative;
	    top: -85px;

	    img{
	      height:100%;
	      position:relative;

	    }

	  }
	div#container{
		margin: 20px;
		width: 250px;
		height: 50px;

	}
	hr {
	color: $light-grey;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    padding: 0;
    position: relative;
    top: 54px;

	}

}
