#menu {
	text-align:center;
}

#bottom-menu{
	position:absolute;
	bottom:0;
	left:0;

	height:90px;
	width:100%;
}
#menu.open #bottom-menu{
	display:none;
}

.menu-image {
	border-radius: 50%;

	transition: box-shadow 0.2s;
}
.menu-image:hover{
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.5);
}

.bottom-menu-item-container {
	float:left;
	width:33.33%;

	text-align:center;
}
.bottom-menu-item-container:not(#main-menu-btn){
	padding-top:20px;

	.menu-image{
		width:40px;
		height:40px;
	}
}
.bottom-menu-image{
	width:80px;
	height:80px;
}

#menu.open #folded-menu{
	opacity:1;
}

#folded-menu {
	position:absolute;

	bottom:0;
	left:0;

	background-color: rgba(128,255,128, 0.3);

	width:100%;

	opacity:0;

	transition: opacity 0.2s;
}

.folded-menu-image {
	position:absolute;

	width:40px;
	height:40px;
}

#spotedex-btn{
	bottom:80px;
	left:20%;;
}
#spotemon-btn{
	bottom:80px;
	right:20%;
}
#menu-exit-btn{
	width:30px;
	height:30px;

	bottom:30px;
	left:50%;

	margin-left:-20px;
}
